.menu-title{
	font-size: 13px;
	color: #000000;
	text-align: center;
	padding: 5 auto 5;
	border: #000000 solid;
	
}
.menu_box{
	height:62.5rem;
	pt: 1rem;
	
}
.menu_info{
	
	color:black ;
	background-color: #8e959b;
}
